.stateCard {
    width: 15rem;
    margin: 1rem;
    margin-left :10%;
    display: inline-block;
    flex-direction:column;
    background-color: #D3D3D3;
    padding: 1rem;
    position: relative;
    border-radius: 0.5rem;
    flex-wrap: wrap;
    box-shadow: 2rem 3rem 5rem #aaa;
  }